/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #dfdfdb;
} 

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
html,
body {
  font-family: 'Montserrat', sans-serif; 
  height: 100%;
  background:#675446;
  /* background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
@media only screen and (max-width : 837px) {
  html,
  body {
    
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .background-image {display: none!important;}
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  /* background-image: url(images/background.jpg); */
  
  background: url(images/background.jpg) no-repeat center center fixed;
  width: 100%;
  height: 100%;
  /* margin: 1%; */
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-size: 100% auto;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 100%;
}



.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}
.full-width{
  width: 100%;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .7);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

h1{
  font-family: 'Teko', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3.5rem;
  color:#2e2625;
  letter-spacing: -1px;
  word-spacing: 1px;
  text-shadow: -3px -1px 2px #ed9c4d, 0px 0px 4px #ec3a24;
  line-height: 61px;
  -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5); /* Opera */
    transform:scale(1,1.5); /* W3C */
}
.lead{
  font-family: 'Teko', sans-serif;
  font-family: 'Six Caps', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  color: white;

  -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5); /* Opera */
    transform:scale(1,1.5); /* W3C */
}
.lead-2{
  font-family: 'Teko', sans-serif;
  font-family: 'Six Caps', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  text-shadow: 0px 1px #443e3ef2;
}

.buy-now{
  background:rgba(248, 177, 46, .55);
  /* background:rgba(98, 135, 146, .55); */
  color:248, 177, 46;
}
.buy-now--image{
  /* border: 1px solid #958475 !important; */
  -webkit-box-shadow: 0px 6px 40px -5px rgba(91,56,46,1);
-moz-box-shadow: 0px 6px 40px -5px rgba(91,56,46,1);
box-shadow: 0px 6px 40px -5px rgba(91,56,46,1);
}

.bg-black{
  background:rgba(42, 42, 42, .7)
}

.modal-content{
  border:0px;
  border-radius: 0px;

  background: rgba(228,138,47,1);
  background: -moz-linear-gradient(top, rgba(228,138,47,1) 59%, rgba(229,126,46,1) 64%, rgba(237,39,39,0.07) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(59%, rgba(228,138,47,1)), color-stop(64%, rgba(229,126,46,1)), color-stop(100%, rgba(237,39,39,0.07)));
  background: -webkit-linear-gradient(top, rgba(228,138,47,1) 59%, rgba(229,126,46,1) 64%, rgba(237,39,39,0.07) 100%);
  background: -o-linear-gradient(top, rgba(228,138,47,1) 59%, rgba(229,126,46,1) 64%, rgba(237,39,39,0.07) 100%);
  background: -ms-linear-gradient(top, rgba(228,138,47,1) 59%, rgba(229,126,46,1) 64%, rgba(237,39,39,0.07) 100%);
  background: linear-gradient(to bottom, rgba(228,138,47,1) 59%, rgba(229,126,46,1) 64%, rgba(237,39,39,0.07) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e48a2f', endColorstr='#ed2727', GradientType=0 );
    


  text-shadow: none;
  color:#1b1215;
  font-family: 'Montserrat', sans-serif; 
}
.modal-header, .modal-footer{
  border:none;
}
.rear-cover-img{
  max-width:150px;
}

.btn-link {

  font-weight: 400;
  color: #dfdfdb;
  background-color:transparent;

}
.btn-link:hover {
  color: #dfdfdb;
  background-color:transparent;

}

.modal.fade.modal-right .modal-dialog {
  transform: translate(125%, 0px);
}

.modal.show.modal-right .modal-dialog {
  transform: none;
}

@media only screen and (min-width : 575px) {
  .modal-dialog{
    margin:auto!important;
  }
}

.modal-dialog{
  margin:0px;
  /* @ */
  
  /* padding: 10px; */
  border: 10px solid #71604e;
  background: #71593f url(images/whitenoise.png) repeat fixed center; 

}
.modal-header{
  background: #e48a2f;
  /* background: red; */
  border-top-left-radius: 15px;
}
.modal-body{
  font-size: 13px;
  text-shadow: 0px 1px #97959557;
  
}
.modal-footer{
  background: #71604e;
}
.fab.fa-facebook.float-right{
  padding-top: 3px;
}

.fa-book-alt{
  /* color: #fa9a21; */
}

.fa-cloud-download{
  color: #1a1a1a!important;
  top:-6px;
}